<div class="page-legal">
        <div class="container page-content">
                <div class="columns">
                        <div class="column">
				<h5>{{message}}</h5>
			</div>
		</div>
	</div>
</div>
