<p class="help-text">
	Variables
	<ul>
		<li><code>{user}</code> - the user calling the command example: <code>Hello {user}!</code></li>
		<li><code>{server}</code> - the server name</li>
		<li><code>{channel}</code> - the channel name</li>
		<li><code>{@user}</code> - mention a user by their username (not nickname), replace <code>user</code> with username.</li>
		<li><code>{&amp;role}</code> - mention a role by name, replace <code>role</code> with the role name. Ex: <code>{&amp;Gamers}, We're streaming now!</code></li>
		<li><code>{#channel}</code> - a channel link, replace <code>channel</code> with the name of the channel you want to link. Ex: <code>Use {#testing} for all bot testing.</code></li>
	</ul>
</p>